# Theme backup
.theme_backup

# Production artifacts
public

# Plugins artifacts
plugins/

# Sync scripts
deploy.sh

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
